<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="static/tailwind.css">
    <script src="static/update.js"></script> 
		<title>Homelab - Samuel Bowden</title>
	</head>
	<body class="bg-orange-100 text-zinc-700 p-5">
    <h1 class="text-center text-3xl">Sam's Homelab</h1>
    <p id="uptime" class="pt-5">{{uptime}}</p>

    <h2 class="text-xl pt-5">Services</h2>
    <ul class="list-disc px-5">
      <li><a href="https://git.samuelbowden.com">Git</a></li>
      <li><a href="https://invidious.samuelbowden.com">Invidious</a></li>
      <li><a href="https://search.samuelbowden.com">Search</a></li>
      <li><a href="https://music.samuelbowden.com">Music</a></li>
    </ul>
	</body>
</html>
